* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.5rem;
  background-color: rgb(105, 107, 103);
  color: blanchedalmond;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  row-gap: 3rem;
}
header {
  grid-column: 2 / 3;
  display: grid;
  background-color: darkslategray;
  height: 250px;
  margin-top: 20px;
}
h1 {
  text-align: center;
  margin: auto;
}
main {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2;
}
#section-1 {
  display: flex;
  justify-content: space-between;
}

#icon-div {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
#publish-date {
  opacity: 0.6;
}
a {
  color: blanchedalmond;
}
a:hover {
  color: darkslategray;
}
